<footer class="mwd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="mwd-footer-links">
      <li><a href="{{ site.repo }}">GitHub</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/">Examples</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/overview/">About</a></li>
    </ul>
    <p>This project stands on the shoulders of <a href="https://getbootstrap.com/">Bootstrap</a>; thank you <a href="https://twitter.com/mdo" target="_blank" rel="noopener">@mdo</a>, <a href="https://twitter.com/fat" target="_blank" rel="noopener">@fat</a>, the <a href="https://github.com/orgs/twbs/people">Bootstrap core team</a>, and all of <a href="https://github.com/twbs/bootstrap/graphs/contributors">Bootstrap's contributors</a>.</p>
    <p>Currently v{{ site.current_version }}. This code licensed <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>
