// Local docs variables
$mwd-fuschia:        $fuschia !default;
$mwd-fuschia-bright: lighten(saturate($mwd-fuschia, 5%), 15%) !default;
$mwd-fuschia-light:  lighten(saturate($mwd-fuschia, 5%), 45%) !default;
$mwd-info:           #5bc0de !default;
$mwd-warning:        #f8cc1c !default;
$mwd-danger:         #d9534f !default;
